body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color:#000000;
}

body{
    background-color: #000000f0;
}

input[type="number"]{
    width: 30px;
    border-radius: 5px;
    border: solid 2px #78DEC7;
    
}

main{
    width:100%;
    height: 100vh;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 32px;
    font-weight: 700;
    color: #78DEC7;

}
main > div {
    display: flex;
    margin: 0 auto;
    width: 700px;
    height: 500px;
    align-items: center;
    background-color: #f0ebff;
    border-radius: 40px;
    border: #0c0b0b 1px solid;
    box-shadow: 0 0 40px #f530e2;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 0 40px;
}
ul {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffffc4;
    box-shadow: 0 0 30px #691b62;
    border-radius: 8px;
    padding-top: 20px;
}

li {
    display: flex;
    margin-bottom: 20px;
    gap:10px;
    
}

li> div {
    border-radius: 5px;

}
span{
    display: block;
    width: 100px;
    margin-right: 20px;
    
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
button{
    width: 120px;
    height: 30px;
    border: 1px solid #ffffffba;
    border-radius: 8px;
    background-color: #ffffff;
    font-weight: bold;
    box-shadow:  0 0 1em #78DEC7;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}
button:hover{
    color: white;
    background-color: black;
    transition: 0.5s;
}

.nome {
  
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;
   

}
.spanResultado {
    height: 50px;
    width: 150px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #78DEC7;
    box-shadow: 0 0 30px #641b5d;
    border: 2px solid #ffffff9e;
    color: #000000;
}